<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Calculadora Smartninja</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Calculadora SmartNinja!</h1>
    <form method="post" action="/result">
        <input type="number" name="numero1" placeholder="introduzca un número">
        <input type="number" name="numero2" placeholder="introduzca un número">
        <input type="text" name="operador" size="30" placeholder="introduzca un operador + , - , * , /">
        <button type="submit">resultado</button>
    </form>
</body>
</html>